 <div class="alert alert-warning text-center" ng-show='loading'>  
            <div class="row">
              <h1 class="col-sm-7">Cargando Detalle...</h1>    
              <div class="loader col-sm-5" ></div>
            </div>
</div>
<div class="row jumbotron">
        <span id ="fecha">fecha actual: {{CurrentDate | date:'yyyy-MM-dd'}}</span>
       <h2>Detalle de la preliquidación:</h2>

          <table  style="width:95%;">
            <tr>
              <td width="10%">
              </td>

              <td>
                <div  ui-grid="gridOptions"  ui-grid-selection class="myGrid"></div>
              </td>
            </tr>
          </table>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Novedades Aplicadas</h4>
        </div>
        <div class="modal-body">
         <h2>{{mensaje}}</h2>
         <div  ui-grid="gridOptions_novedades"  class="myGridNov"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
           <button  class="btn">Liquidar Seleccionados</button>
    </div>