<div class="row jumbotron">
    <div  class="col-sm-5 ">
        <div >
            <h2>Registro de Rubro</h2>
          <form>
             <div class="form-group row">
            <label for="select_vigencia" class="col-sm-3 col-form-label">Vigencia </label>
            <select name="select_vigencia" id="select_vigencia" ng-model="selectVigencia" ng-change="actualiza_rubros()">
              <option selected disabled>Seleccione...</option>
              <option selected="selected">2016</option>
              <option>2015</option>
              <option>2014</option>
              <option>2013</option>
              <option>2012</option>
              <option>2011</option>
              <option>2010</option>
            </select>
          </div>
          <div class="form-group row">
            <input name="ultimo_registro" type="hidden" ng-model="ultimo_registro" disabled="true">
            <label for="input_codigo_padre" class="col-sm-3 col-form-label">Código del rubro padre</label>
            <input name="input_codigo_padre" type="text" ng-model="codigo_padre" disabled="true" ng-model="codigo_padre">
            <input name="input_id_padre" type="hidden" ng-model="id_padre" disabled="true" ng-model="codigo_padre">
          </div>
          <div class="form-group row">
            <label for="input_codigo" class="col-sm-3 col-form-label">Código</label>
            <input name="input_codigo" type="text" ng-model="codigo_hijo" placeholder="Código">
          </div>
          <div class="form-group row">
            <label for="input_descripcion" class="col-sm-3 col-form-label">Descripción</label>
            <textarea name="input_descripcion" ng-model="descripcion_hijo"  placeholder="Descripción"></textarea>

          </div>
           <div class="form-group row">
            <label for="input_tipo_plan" class="col-sm-3 col-form-label">Tipo de Plan</label>
            <textarea name="input_tipo_plan" ng-model="tipo_plan_hijo"  placeholder="Plan"></textarea>

          </div>
          <div class="form-group row">
            <label for="entidadSelect" class="col-sm-3 col-form-label">Entidad</label>
            <select name="entidadSelect" ng-model="selectEntidad">
              <option ng-repeat="option in entidadOptions" value="{{option.Id}}">{{option.Nombre}}</option>
            </select>
          </div>
            <button ng-click='quitar_padre()' class="btn btn-primary">Quitar Padre</button>
            <button ng-click='registrar_rubro()' class="btn btn-primary">Registrar</button>

         </form>
        </div>

    </div>
    <div  ng-if="selectVigencia"class="text-center col-sm-7">

        <div >
          <h2>Plan de Cuentas</h2>

          <table  style="width:95%;">
            <tr>
              <td width="10%">
              </td>

              <td>
                <div  ui-grid="gridOptions" ui-grid-tree-view class="myGrid"></div>
              </td>
            </tr>
          </table>
        </div>

    </div>
</div>
